@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* Start CSS Home Page */
.container-home .content-home, .container-home .content-menu {
	width: 100%;
	background-color: rgba(85, 85, 85, 0.5);
	position: relative;
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-home .content-home {
	background-image: url("../img/restaurant.jpg");
}

.container-home .content-menu {
	background-image: url("../img/menu_header.jpg");
}

.container-home .content-home h1, .container-home .content-menu h1 {
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.container-home .content-home h2, .container-home .content-menu h2 {
	text-align: center;
	color: white;
	font-weight: 500;
	margin: 6px 0 10px 0;
}

.container-home .content-home span {
	color: #cda45e;
}

.container-home .content-home .btns {
	margin-top: 30px;
}

.container-home .content-home a {
	color: white;
	padding: 12px 30px;
	border: 2px solid #cda45e;
	border-radius: 50px;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 600;
	margin-right: 14px;
}

.container-home .content-home a:hover {
	background-color: #cda45e;
}

.container-home .about, .container-home .event, .container-home .booktable,
	.container-home .contact {
	width: 100%;
	height: auto;
	padding: 40px 120px;
}

.container-home .about, .container-home .event, .container-home .contact,
	.container-home .booktable {
	background-color: black;
}

.container-home .menu {
	background-color: #330e05;
}

.container-home .menu, .container-home .contact {
	padding: 40px 0;
}

.container-home .about h2, .container-home .menu h2, .container-home .event h2,
	.container-home .booktable h2, .container-home .contact h2,
	.container-home .body-menu h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 10px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
}

.container-home .about h2::after, .container-home .menu h2::after,
	.container-home .event h2::after, .container-home .booktable h2::after,
	.container-home .contact h2::after, .container-home .body-menu h2::after
	{
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	margin: 4px 10px;
}

.container-home .about p, .container-home .menu p, .container-home .event p,
	.container-home .booktable p, .container-home .contact p {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	color: #cda45e;
}

.container-home .about .header-about, .container-home .event .header-event,
	.container-home .menu .header-menu, .container-home .booktable .header-booktable,
	.container-home .contact .header-contact, .container-home .body-menu .header-category
	{
	margin-bottom: 20px;
}

.container-home .menu .header-menu, .container-home .contact .header-contact
	{
	padding: 0 120px;
}

.container-home .about .body-about {
	display: flex;
	justify-content: space-between;
}

.about .body-about .about-item {
	height: auto;
	width: 33.333%;
	background-color: #330e05;
	padding: 30px;
	margin: 12px;
	transition: 0.8s;
}

.about .body-about .about-item:hover {
	background-color: #cda45e;
	color: white;
}

.about .body-about .about-item:hover span, .about .body-about .about-item:hover h4,
	.about .body-about .about-item:hover p {
	color: white;
}

.body-about .about-item span {
	display: block;
	font-size: 28px;
	font-weight: 700;
	color: #cda45e;
}

.body-about .about-item h4 {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	margin: 20px 0;
	color: rgba(255, 255, 255, 0.8);
}

.body-about .about-item p {
	color: #aaaaaa;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.menu .body-menu {
	display: grid;
	grid-template-columns: 336.36px 336.36px 336.36px 336.36px;
	grid-template-rows: 280px 280px;
}

.menu .body-menu .food-img img {
	border-right: 3px solid #454035;
	border-bottom: 3px solid #454035;
}

.menu .body-menu .food-img img {
	height: 280px;
}

.container-home .event .body-event {
	display: flex;
	justify-content: center;
}

.container-home .event img {
	animation: modalFadeIn ease 3s;
	border-radius: 16px;
}

.container-home .booktable .booktable-form {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 64px 64px 126px 60px;
}

.container-home .booktable-form .form-item:nth-child(8), .container-home .booktable-form .form-item:nth-child(9)
	{
	grid-column: 1/4;
}

.container-home .booktable-form .form-item:nth-child(9) {
	margin: auto;
}

.container-home .contact #contact-form {
	display: grid;
	grid-template-columns: 348px 348px;
	grid-template-rows: auto auto auto auto;
}

.container-home .contact #contact-form .form-item:nth-child(3),
.container-home .contact #contact-form .form-item:nth-child(4),
.container-home .contact #contact-form .form-item:nth-child(5) {
	grid-column: 1/3;
}

.container-home .contact #contact-form .form-item:nth-child(5),
.container-home .contact #contact-form .form-item:nth-child(6) {
	display: flex;
	justify-content: center;
}

.container-home .booktable-form .form-item, .container-home #contact-form .form-item
	{
	width: auto;
	margin: 10px 10px;
}

.container-home .booktable-form .form-item:nth-child(7) {
	width: 100%;
}

.booktable-form .form-item input {
	width: 348px;
	height: 44px;
	padding: 6px 12px;
	background-color: black;
	border: 1px #cda45e solid;
	color: white;
	opacity: 0.8;
}

.container-home #contact-form input {
	width: 100%;
	height: 44px;
	padding: 6px 12px;
	background-color: black;
	border: 1px #cda45e solid;
	color: white;
	opacity: 0.8;
}

.booktable-form .form-item input::placeholder, .booktable-form .form-item textarea::placeholder,
	#contact-form .form-item input::placeholder, #contact-form .form-item textarea::placeholder
	{
	color: white;
}

.booktable-form .form-item textarea, #contact-form .form-item textarea {
	width: 100%;
	padding: 10px 12px;
	font-family: "Open Sans", sans-serif;
	background-color: black;
	border-color: #cda45e;
	color: white;
	opacity: 0.8;
}

.booktable-form .form-item textarea:focus, #contact-form .form-item textarea:focus
	{
	outline: none;
}

.booktable-form .form-item .btn-booktable, #contact-form .form-item .btn-contact
	{
	background: #cda45e;
	border: 0;
	padding: 12px 45px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.booktable-form .form-item .btn-booktable:hover, #contact-form .form-item .btn-contact:hover
	{
	cursor: pointer;
	opacity: 0.8;
}

#contact .body-contact .contact-content {
	display: flex;
}

#contact .contact-content {
	margin: 30px 80px 0 80px;
	padding: 0 12px;
}

#contact .contact-content .contact-info-item {
	margin-top: 40px;
}

#contact .contact-content .contact-info-item:first-child {
	margin-top: 0;
}

#contact .contact-content .contact-info {
	width: 40%;
}

#contact .contact-content .contact-form-container {
	width: 60%;
}

#contact .contact-content h4 {
	color: #cda45e;
	padding: 0 0 0 50px;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	font-family: "Poppins", sans-serif;
}

#contact .contact-content p {
	padding: 0 0 0 50px;
	margin-bottom: 0;
	font-size: 14px;
	color: white;
	opacity: 0.8;
}

.container-home .footer {
	background-color: black;
	height: auto;
	padding-bottom: 30px;
	color: white;
	font-size: 14px;
}

.container-home .footer .footer-content {
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 60px 80px 30px 80px;
}

.container-home .footer .info, .container-home .footer .link-shortcuts,
	.container-home .footer .logo-restaurant {
	height: auto;
	width: 33.33%;
}

.container-home .footer h3, .container-home .footer h4 {
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 300;
}

.container-home .footer h3 {
	font-size: 24px;
}

.container-home .footer h4 {
	font-size: 18px;
}

.container-home .footer p {
	line-height: 24px;
	margin-bottom: 0;
}

.container-home .footer .social-link {
	margin-top: 20px;
}

.container-home .footer .social-link a {
	font-size: 16px;
	display: inline-block;
	background: #28251f;
	color: #fff;
	padding: 9px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.5s;
}

.container-home .footer .social-link a:hover {
	background: #cda45e;
}

.footer .link-shortcuts li {
	display: block;
	padding-left: 14px;
}

.footer .link-shortcuts li a {
	transition: 0.4s;
	color: white;
}

.footer .link-shortcuts li a:hover {
	color: #cda45e;
}

.container-home .footer img {
	width: 50%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.container-home .footer-info {
	display: flex;
	justify-content: center;
	padding: 30px 80px 10px 80px;
}

.container-home .footer-info li {
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 8px;
	transition: 0.5s;
	margin-right: 5px;
}

.container-home .footer-info li:hover {
	background: #cda45e;
}

/* CSS PopUp Send Contact */
.popup-contact-container, .popup-bookatable-container,
	.popup-changepass-container, .popup-addfood-container, .popup-editfood-container,
	.popup-deletefood-container, .popup-confirmdeletefood-container,
	.popup-orderfood-container,
	.popup-booktable-container,
	.popup-contact-container {
	display: flex;
	position: fixed;	
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
	align-items: center;
}

.popup-contact-container .popup, .popup-bookatable-container .popup,
	.popup-changepass-container .popup, .popup-addfood-container .popup,
	.popup-editfood-container .popup, .popup-deletefood-container .popup,
	.popup-confirmdeletefood-container .popup, 	.popup-orderfood-container .popup,
	.popup-booktable-container .popup,
	.popup-contact-container .popup {
	position: relative;
	background-color: white;
	width: 400px;
	height: auto;
	border-radius: 5px;
	animation: modalslipDownPopup ease .5s;
}

.popup .header-popup {
	margin-top: 20px;
}

.popup .header-content, .modal-dialog .modal-body i {
	display: flex;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #07fc03;
	justify-content: center;
	align-items: center;
}

.popup .header-content i, .modal-dialog .modal-body i {
	font-size: 16px;
}

.popup .popup-content {
	margin: 20px 0px;
	padding: 10px;
	text-align: center;
}

.popup .popup-content h3 {
	font-size: 25px;
}

.popup .popup-exit {
	height: 38px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.popup .popup-exit i,
.popup-exit-order i,
.popup-exit-booktable i,
.popup-exit-contact i {
	float: right;
	padding: 10px 16px;
	transition: 0.3s;
}

.popup .popup-exit i:hover,
.popup-exit-order i:hover,
.popup-exit-booktable i:hover,
.popup-exit-contact i:hover {
	background: red;
	cursor: pointer;
}
/* End CSS PopUp Send Contact */


.navbar .nav-child {
	display: none;
	position: absolute;
	background-color: black;
	width: 231px;
	top: 93px;
	right: -63px;
}

.navbar .nav-child li {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .nav-child li > a {
	padding: 26px 40px;
	text-align: center;
	width: 100%;
}

.navbar ul .nav-item:first-child:hover > .nav-child {
	display: block;
}
/* End CSS Home Page */

/* Start CSS Login, SignUp and Change Password Page */
.container {
	background-image: url("../img/login_img.jpg");
	background-size: contain;
	height: 100vh;
	width: 100vw;
	padding: 0;
}

.container>.content {
	width: 100%;
	height: 100%;
	background-color: rgba(85, 85, 85, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content #content-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	width: 50%;
}

.content #content-info h3 {
	font-size: 28px;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 16px;
}

.content #content-info .form-group {
	margin: 10px 0;
	width: 55%;
	display: flex;
	justify-content: center;
}

#content-info .form-group input {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: none;
	padding: 14px;
	background-color: rgba(85, 85, 85, 0.5);
	color: white;
}

#content-info .form-group input:hover {
	background-color: rgba(85, 85, 85, 0.4);
}

#content-info .form-group input:focus {
	outline: none;
}

#content-info .form-group input::placeholder {
	color: white;
}

#content-info .form-group button {
	border: none;
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background-color: #f29c3f;
	font-size: 16px;
	font-weight: bold;
}

#content-info .form-group button:hover {
	cursor: pointer;
	background-color: #f5ac5d;
}

.content #content-info .form-group:last-child {
	display: flex;
	justify-content: space-between;
}

#content-info .form-group .remember-container {
	display: flex;
	align-items: center;
}

#content-info .form-group:last-child input {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: 0.5;
	margin-top: 0;
}

#content-info .form-group:last-child a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

#content-info .form-group:last-child a:last-child {
	border-left: 1px solid white;
	padding-left: 5px;
}

.container .modal-content {
	display: flex;
	flex-direction: column;
}

#exampleModal {
	display: flex;
	align-items: center;
}

.container .modal-content .modal-header, .container .modal-content .modal-body,
	.container .modal-content .modal-footer {
	width: 100%;
	text-align: center;
}

.container .modal-content .modal-header {
	padding: 0;
}

.container .modal-header button {
	padding: 10px 14px;
	margin-top: -1px;
}

.modal-header button span {
	font-size: 26px;
}

.container .modal-content .modal-body p {
	margin-top: 20px;
	font-size: 16px;
}

.modal-content .modal-footer a:hover {
	text-decoration: none !important;
}

.container .modal-footer button {
	float: right;
}

.container .modal-footer button:first-child {
	margin-left: 5px;
}

.container .error-msg {
	background-color: #f25755;
	padding: 10px;
	border-radius: 12px;
}
/* End CSS Login, SignUp and Change Password Page */

/* Start CSS Navbar */
.navbar {
	width: 100vw;
	height: auto;
	position: fixed;
	display: flex;
	justify-content: center;
	background-color: black;
}

.container-home .navbar {
	background-color: black;
	z-index: 999;
}

.navbar > ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar ul li {
	display: flex;
	padding: 0;
}

.navbar ul .nav-item:first-child {
	position: relative;
}

.navbar ul .nav-item:first-child > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.navbar ul .nav-item:first-child:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.navbar ul li img {
	border-radius: 50%;
	margin: 5px 10px 0 10px;
	width: 80px;
	height: 80px;
}

.navbar a {
	text-decoration: none;
	padding: 37px 30px;
}

.navbar button {
	padding: 36px 30px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.8);
}

.container-home .navbar a, .navbar a, .container-home .navbar button {
	color: white;
}

.navbar a:hover, .navbar button:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
/* End CSS Navbar */

/* Start CSS Menu Page */
.body-menu .category-item {
	height: auto;
	background-color: #330e05;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 30px 160px;
}

.body-menu .body-category {
	margin-top: 30px;
}

.body-menu .body-category .food-item {
	height: 112px;
	padding: 16px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	display: grid;
	grid-template-columns: 10% 75% 5% 5% 5%;
	grid-template-rows: 50% 50%;
}

.body-menu .body-category .food-item h3, .body-category .food-item .food-price
	{
	grid-column: 2/3;
}

.body-menu .food-item img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.2);
}

.body-menu .food-item .food-name {
	color: white;
	margin-left: 60px;
}

.body-menu .food-item .food-price {
	color: #cda45e;
	margin-left: 60px;
}

.body-menu .food-item .buy-icon,
.body-menu .food-item .edit-icon,
.body-menu .food-item .remove-icon {
	float: right;
	display: block;
	margin: auto;
	padding: 12px;
	transition: 0.4s;
	border-radius: 12px;
}

.body-menu .food-item .buy-icon:hover,
.body-menu .food-item .edit-icon:hover,
.body-menu .food-item .remove-icon:hover {
	cursor: pointer;
	background: #cda45e;
}

.body-menu .food-item .buy-icon:hover>i,
.body-menu .food-item .edit-icon:hover>i,
.body-menu .food-item .remove-icon:hover>i {
	color: white;
}

.body-menu .food-item i {
	color: #cda45e;
}

.navbar .cart-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 50px;
	top: 0;
	height: 100%;
	width: 100px;
}

.navbar .cart-container .cart-form, .navbar .cart-icon:hover>.num-cart-item-top
	{
	display: none;
}

.navbar .cart-icon:hover>.cart-form {
	display: block;
	border: 3px solid rgba(0, 0, 0, 0.2);
}

.navbar .cart-container i {
	color: #cda45e;
	font-size: 24px;
	padding: 20px;
	transition: 0.5s;
}

.navbar .cart-container .cart-icon:hover>i, .cart-container .cart-item .cart-delete-food i:hover
	{
	background: #cda45e;
	color: white;
}

.navbar .cart-container .cart-form {
	position: absolute;
	height: auto;
	width: 300px;
	background-color: white;
	top: 77px;
	right: -30px;
	border-radius: 12px;
	animation: modalslipDownCart ease .5s;
}

.cart-container .cart-form-header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-container .cart-form-body {
	height: auto;
	text-align: center;
	padding: 20px 0;
}

.cart-container .cart-form-footer {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-container .cart-form-footer button {
	background-color: #cda45e;
	border-radius: 50px;
	padding: 6px 22px;
}

.cart-container .cart-form-footer button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.cart-container .cart-item {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-container .cart-item .cart-image {
	width: 20%;
	margin: 0 12px;
}

.cart-container .cart-item img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.4);
}

.cart-container .cart-item .cart-food-item {
	width: 60%;
}

.cart-container .cart-item .cart-food-item p {
	margin-top: 5px;
}

.cart-container .cart-item .cart-delete-food {
	width: 20%;
}

.cart-container .cart-item .cart-delete-food i {
	padding: 6px 10px;
	font-size: 20px;
	border-radius: 6px;
	display: block;
	text-align: center;
}

.cart-container .num-cart-item-top {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cda45e;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid rgba(0, 0, 0, 0.4);
	position: absolute;
	right: 14px;
	bottom: 48px;
}

.cart-container .num-cart-item-top h4 {
	font-size: 15px;
}

.body-menu .add-food-icon {
	background-color: #cda45e;
	width: 80px;
	text-align: center;
	border-radius: 12px;
	padding: 10px 20px;
}

.body-menu .add-food-icon:hover {
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.popup-addfood-container .popup,
.popup-editfood-container .popup,
.popup-orderfood-container .popup {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}

.popup-addfood-container .popup .form-item,
.popup-editfood-container .popup .form-item,
.popup-orderfood-container .popup .form-item,
.popup-booktable-container .popup .form-item, 
.popup-contact-container .popup .form-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}

.popup-addfood-container .popup .form-item:first-child,
.popup-editfood-container .popup .form-item:first-child,
.popup-orderfood-container .popup .form-item:first-child,
.popup-booktable-container .popup .form-item:first-child,
.popup-contact-container .popup .form-item:first-child {
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-addfood-container .popup .form-item:last-child,
.popup-editfood-container .popup .form-item:last-child,
.popup-confirmdeletefood-container .footer-popup,
.popup-orderfood-container .popup .form-item:last-child,
.popup-booktable-container .popup .form-item:last-child,
.popup-contact-container .popup .form-item:last-child {
	margin-top: 12px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-addfood-container .popup .form-item:nth-child(3),
.popup-editfood-container .popup .form-item:nth-child(3) {
	flex-direction: column;
}

.popup-addfood-container .form-item:nth-child(3) input,
.popup-editfood-container .form-item:nth-child(3) input {
	border: none;
	margin-bottom: 12px;
}

.popup-addfood-container img,
.popup-editfood-container img {
	width: 50%;
	border-radius: 4px;
}

.popup-addfood-container .popup input, 
.popup-addfood-container .popup textarea,
.popup-editfood-container .popup input, 
.popup-editfood-container .popup textarea
	{
	padding: 6px 10px;
	border: 1px solid black;
	width: 80%;
}

.popup-addfood-container .form-item button,
.popup-editfood-container .form-item button,
.popup-confirmdeletefood-container .footer-popup button,
.popup-confirmdeletefood-container .footer-popup a,
.container-home .food-order-footer button,
.popup-orderfood-container .form-item button,
.book-table .book-table-footer button,
.popup-booktable-container .form-item button,
.contact .contact-footer button,
.popup-contact-container .form-item button {
	height: 30px;
	width: 70px;
	margin-right: 15px;
	border-radius: 4px;
	transition: 0.4s;
}

.popup-confirmdeletefood-container #delete-food-btn {
	margin-right: 0;
}

.popup-confirmdeletefood-container .footer-popup button,
.popup-confirmdeletefood-container .footer-popup a {
	float: right;
}

.popup-confirmdeletefood-container .footer-popup a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #666;
	font-size: 13.333px;
}

.popup-addfood-container #add-food-btn:hover,
.popup-editfood-container #save-foodedit-btn:hover,
.popup-confirmdeletefood-container #cancel-delete-btn:hover,
.container-home .food-order-footer button:hover,
.popup-orderfood-container #accept-order-btn:hover,
.popup-booktable-container #accept-booktable-btn:hover,
.book-table .book-table-footer button:hover,
.contact .contact-footer button:hover {
	cursor: pointer;
	background-color: #cda45e;
}

.popup-addfood-container #cancel-btn:hover,
.popup-editfood-container #cancel-edit-btn:hover,
.popup-confirmdeletefood-container #delete-food-btn:hover,
.popup-orderfood-container #cancel-order-btn:hover,
.popup-booktable-container #cancel-booktable-btn:hover,
.popup-contact-container #cancel-contact-btn:hover {
	cursor: pointer;
	background-color: rgba(255, 0, 0, 0.6);
}

.popup-confirmdeletefood-container .popup {
	padding: 15px 10px;
}

.popup-confirmdeletefood-container .popup .header-popup {
	margin-bottom: 10px;
	padding: 15px 4px;
}

.popup-confirmdeletefood-container .popup .footer-popup {
	padding: 10px 4px;
}

.error-img .popup .header-content {
	background-color: red;
}

.error-img .header-content i {
	color: white;
	font-size: 25px;
}
/* End CSS Menu Page */

/* Start CSS Cart Page */
a {
	border: 0 none;
	outline: 0;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

p {
	margin: 0.75rem 0 0;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

input, button {
	border: 0 none;
	outline: 0 none;
}

button {
	background-color: #666;
	color: #fff;
}

button:hover, button:focus {
	background-color: #555;
}

img, .basket-labels, .basket-product {
	width: 100%;
}

input, button, .basket, .basket-labels, .item, .price-tag, .quantity,
	.subtotal, .subtotal-tag, .basket-product, .product-image,
	.product-details, .price {
	float: left;
}

.hide {
	display: none;
}

main {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
}

.basket, aside {
	padding: 0 6rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.basket {
	width: 70%;
	margin-top: 140px;
}

label {
	display: block;
	margin-bottom: 0.3125rem;
}

.promo-code-field {
	border: 1px solid #ccc;
	padding: 0.5rem;
	text-transform: uppercase;
	transition: all 0.2s linear;
	width: 48%;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover, .promo-code-field:focus {
	border: 1px solid #999;
}

.promo-code-cta {
	border-radius: 4px;
	font-size: 0.625rem;
	margin-left: 0.625rem;
	padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	color: #111;
	display: inline-block;
	padding: 0.625rem 0;
}

li.price-tag:before, li.subtotal:before, li.subtotal-tag:before {
	content: '';
}

.item {
	width: 55%;
}

.price-tag, .quantity, .subtotal, .subtotal-tag, .price {
	width: 15%;
}

.price,
.subtotal {
	margin-top: 10px;
}

.quantity {
	margin-top: 8px;
}

.subtotal, .subtotal-tag {
	text-align: right;
}

.remove {
	bottom: 1.125rem;
	float: right;
	position: absolute;
	right: 0;
	text-align: right;
	width: 45%;
}

.remove button {
	background-color: rgba(240, 67, 67, 0.9);
	color: #777;
	float: none;
	text-transform: uppercase;
	padding: 8px 20px;
	border-radius: 12px;
	color: white;
}

.remove button:hover {
	cursor: pointer;
	box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

.item-heading {
	padding-left: 4.375rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.basket-product {
	border-bottom: 1px solid #000;
	padding: 1rem 0;
	position: relative;
}

.product-image {
	width: 22%;
}

.product-details {
	width: 65%;
}

.product-frame {
	border: 1px solid #aaa;
}

.product-details {
	padding: 0 1.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.quantity-field {
	background-color: #ccc;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 14px;
	padding: 2px;
	width: 3.75rem;
}

aside {
	float: right;
	position: relative;
	width: 30%;
	top: 140px;
}

.summary {
	min-width: 260px;
	display: flex;
	flex-direction: column;
	background-color: rgba(232, 232, 232, 0.9);
	border: 1px solid #aaa;
	padding: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.summary-total-items {
	color: #666;
	font-size: 0.875rem;
	text-align: center;
}

.summary-total {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	margin: 1rem 0;
	overflow: hidden;
	padding: 0.5rem 0;
}

.subtotal-title, .subtotal-value, .total-title, .total-value,
	.promo-title, .promo-value {
	color: #111;
	float: left;
	width: 50%;
}

.summary-promo {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.promo-title {
	float: left;
	width: 70%;
}

.promo-value {
	color: #8B0000;
	float: left;
	text-align: right;
	width: 30%;
}

.subtotal-value, .total-value {
	text-align: right;
}

.total-title {
	font-weight: bold;
	text-transform: uppercase;
}

.summary-checkout {
	display: block;
}

.checkout-cta {
	display: block;
	float: none;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0.625rem 0;
	width: 100%;
}

@media screen and (max-width: 640px) {
	aside, .basket, .summary, .item, .remove {
		width: 100%;
	}
	.basket-labels {
		display: none;
	}
	.item {
		margin-bottom: 1rem;
	}
	.product-image {
		width: 40%;
	}
	.product-details {
		width: 60%;
	}
	.price-tag, .subtotal {
		width: 33%;
	}
	.quantity,
	.price {
		text-align: center;
		width: 34%;
	}
	.quantity-field {
		float: none;
	}
	.remove {
		bottom: 0;
		text-align: left;
		margin-top: 0.75rem;
		position: relative;
	}
	.remove button {
		padding: 0;
	}
	.summary {
		margin-top: 1.25rem;
		position: relative;
	}
}

.body-cart {
	min-height: 100vh;
	background-size: 50px 50px;
	background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}

.summary .form-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.summary .form-item input {
	padding: 10px 10px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 6px 0;
}

.summary .form-item input:last-child {
	margin-bottom: 30px;
}

/* End CSS Cart Page */

/* Start CSS food_orders Page */

.popup-orderfood-container .popup {
	box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

.container-home .food-order,
.container-home .book-table,
.container-home .contact-item {
	margin-top: 40px;
	background-color: white;
	padding: 0 10px;
	width: 200px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
}

.container-home .food-order {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.container-home .food-order .food-order-header,
.container-home .book-table .book-table-header,
.container-home .contact .contact-header {
	width: 100%;
	padding: 10px 10px;
	text-align: center;	
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.food-order .food-order-body .food-order-body-child,
.book-table .book-table-body .book-table-body-child,
.contact .contact-body .contact-body-child {
	margin-top: 10px;
	text-align: center;
}

.food-order .food-order-footer,
.book-table .book-table-footer,
.contact .contact-footer {
	margin-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 10px;
}

.food-order .food-order-footer button,
.book-table .book-table-footer button,
.contact .contact-footer button {
	margin-right: 0;
}

.food-order-container,
.book-table-container,
.contact-container {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popup-orderfood-container .popup-exit-order,
.popup-booktable-container .popup-exit-booktable,
.popup-contact-container .popup-exit-contact {
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 6px; 
}

.popup-exit-order i,
.popup-exit-booktable i {
	border-top-right-radius: 6px; 
}

.popup-orderfood-container .popup .form-item:first-child,
.popup-booktable-container .popup .form-item:first-child,
.popup-contact-container .popup .form-item:first-child {
	margin-top: 20px;
}

.popup-orderfood-container .order-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-orderfood-container .order-content table {
	width: 100%;
	border-collapse: collapse;	
}

.popup-orderfood-container .order-content tbody {
	text-align: center;
	border-spacing: 0;	
}

.popup-orderfood-container .order-content th,
.popup-orderfood-container .order-content td {
	padding: 10px 10px;
	border: 1px solid black;
}

.popup-orderfood-container .order-content th {
	background-color: #ccc;
}

.popup-orderfood-container .order-info {
	width: 100%;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    text-align: center;
}

.popup-orderfood-container .order-info h4:first-child {
	grid-column: 1 / 2;
}

.popup-orderfood-container .order-info p,
.popup-booktable-container .booktable-content p,
.popup-contact-container .contact-content p {
	margin-top: 0;
}

.popup-orderfood-container .order-info p,
.popup-orderfood-container .order-info h4,
.popup-booktable-container .booktable-content h4,
.popup-contact-container .contact-content h4 {
	padding: 6px 6px;
}

.popup-orderfood-container .order-info h3 {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding: 12px 6px 6px 6px;
}

.container-order .content-home {
	background-image: url("../img/restaurant3.jpg");
}
/* End CSS food_orders Page */

/* Start CSS Error Page */

.container-error .content-home .error-icon {
	text-align: center;
	color: red;
	font-size: 150px;
	margin-bottom: 20px;
}

.container-error .content-home {
	background-color: #183153;
	background-image: none;
}
/* End CSS Error Page */

/* Start CSS Book Table Page */

.container-book-table .content-home {
	background-image: url("../img/restaurant4.jpg");
}

.popup-booktable-container .booktable-content,
.popup-contact-container .contact-content {
	padding: 10px;
}

.popup-booktable-container .booktable-content .booktable-content-item,
.popup-contact-container .contact-content .contact-content-item {
	display: flex;
}

.popup-booktable-container .booktable-content-item p,
.popup-contact-container .contact-content-item p {
	width: 50%;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-booktable-container .booktable-content-item 	.note-content,
.popup-contact-container .contact-content-item 	.note-content {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}	

.popup-booktable-container .booktable-content-item h4,
.popup-contact-container .contact-content-item h4 {
	width: 50%;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	background-color: #ccc;
}

.popup-booktable-container .popup,
.popup-contact-container .popup {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	width: 530px;
}

.popup-booktable-container .booktable-content p,
.popup-contact-container .contact-content p {
	padding: 6px 14px;
}

.container-home .book-table {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* End CSS Book Table Page */

/* Start CSS Contact Page */

.container-contact .content-home {
	background-image: url(../img/dinner.jpg);
}

.contact-container .contact-body p {
	color: black;
	font-size: 16px;
	margin-top: 0.75rem;
	font-weight: normal;
}

.contact-container .contact {
	width: 270px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact-container .contact .contact-header {
	padding: 16px 10px;
}
/* End CSS Contact Page */

/* CSS Responsive */
@media screen and (min-width: 641px) and (max-width: 960px) {
	aside {
		padding: 0 1rem 0 0;
	}
}

@media screen and (max-width: 960px) {
	main {
		width: 100%;
	}
	.product-details {
		padding: 0 1rem;
	}
}

	/* Start CSS Navbar */
	
@media (max-width: 63.9375em) {
	
}	
	
	/* End CSS Navbar */

/* End CSS Responsive */

/* Animation */
@keyframes modalFadeIn {
	from { 
		opacity:0.2;
	}

	to {
		opacity: 1;
	}

}
@keyframes modalslipDownCart {
	from { 
		top:50px;
		opacity: 0.5;
	}

	to {
		top: 77px;
		opacity: 1;
	}

}

@keyframes modalslipDownPopup {
	from { top:-100px;
		opacity: 0.5;
	}

	to {
		top: 0;
		opacity: 1;
	}
}
/* End Animation */