<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8" />
<title>Phản hồi khách hàng</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="container-home container-contact">
		<section class="navbar">
			<div class="more-icon">
				<i class="fa-solid fa-bars"></i>
				<ul class="nav justify-content-center">
					<li class="nav-item"><a class="nav-link active" href="#">Admin</a>
						<ul class="nav-child">
							<li class="nav-child-item"><a class="nav-link active"
								href="food_orders">Đơn đặt món</a></li>
							<li class="nav-child-item"><a class="nav-link active"
								href="book_table">Đơn đặt bàn</a></li>
							<li class="nav-child-item"><a class="nav-link active"
								href="#">Phản hồi khách hàng</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link active"
						href="home">Trang chủ</a></li>
					<li class="nav-item"><a class="nav-link" href="menu">Thực
							đơn</a></li>
					<li class="nav-item"><a class="nav-link" href="home#booktable">Đặt
							bàn</a></li>
					<li class="nav-item"><img alt="Logo" src="img/3aelogo.png"></li>
					<li class="nav-item"><a class="nav-link" href="home#contact">Liên
							hệ</a></li>
					<li class="nav-item"><a class="nav-link disabled"
						href="changepass">Đổi mật khẩu</a></li>
					<form th:action="@{/logout}" method="post">
						<li class="nav-item"><button class="nav-link disabled"
								type="submit">Đăng xuất</button></li>
					</form>
				</ul>
			</div>
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link active" href="#">Admin</a>
					<ul class="nav-child">
						<li class="nav-child-item"><a class="nav-link active"
							href="food_orders">Đơn đặt món</a></li>
						<li class="nav-child-item"><a class="nav-link active"
							href="book_table">Đơn đặt bàn</a></li>
						<li class="nav-child-item"><a class="nav-link active"
							href="#">Phản hồi khách hàng</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link active" href="home">Trang
						chủ</a></li>
				<li class="nav-item"><a class="nav-link" href="menu">Thực
						đơn</a></li>
				<li class="nav-item"><a class="nav-link" href="home#booktable">Đặt
						bàn</a></li>
				<li class="nav-item"><img alt="Logo" src="img/3aelogo.png"></li>
				<li class="nav-item"><a class="nav-link" href="home#contact">Liên
						hệ</a></li>
				<li class="nav-item"><a class="nav-link disabled"
					href="changepass">Đổi mật khẩu</a></li>
				<form th:action="@{/logout}" method="post">
					<li class="nav-item"><button class="nav-link disabled"
							type="submit">Đăng xuất</button></li>
				</form>
			</ul>
			<div class="cart-container" th:if="${carts == null}">
				<div class="cart-icon">
					<div class="num-cart-item-top" id="cartCounter">0</div>
					<i class="fa-solid fa-cart-shopping"></i>
					<form action="/cart" class="cart-form">
						<div class="cart-form-header">
							<h4>
								Giỏ hàng (<span class="num-cart-item">2</span>)
							</h4>
						</div>
						<div class="cart-form-body" id="cart-form-body">Chưa có sản
							phẩm</div>
						<div class="cart-form-footer">
							<button type="submit">Thanh toán</button>
						</div>
					</form>
				</div>
			</div>

			<div class="cart-container" th:if="${carts != null} ">
				<div class="cart-icon">
					<div class="num-cart-item-top" id="cartCounter">
						(<span class="num-cart-item">2</span>)
					</div>
					<i class="fa-solid fa-cart-shopping"></i>
					<form action="/cart" class="cart-form">
						<div class="cart-form-header">
							<h4>
								Giỏ hàng (<span class="num-cart-item">2</span>)
							</h4>
						</div>
						<div class="cart-form-body" id="cart-form-body"
							th:each="cart: ${carts}">
							<div class="cart-item">
								<div class="cart-image">
									<img th:src="@{'src/main/upload/food/' + ${cart.img_food}}">
								</div>
								<div class="cart-food-item">
									<h4 th:text="${cart.title}"></h4>
									<p class="food-price" th:text="${cart.price}"></p>
								</div>
								<div class="cart-delete-food">
									<i class="fa-solid fa-xmark"></i>
								</div>
							</div>
						</div>
						<div class="cart-form-footer">
							<button type="submit">Thanh toán</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section id="content-home" class="content-home">
			<div class="book-table-title">
				<h1>PHẢN HỒI CỦA KHÁCH HÀNG</h1>
			</div>
			<div class="contact-container">
				<div class="contact contact-item"
					th:each="contact: ${listproductContact}">
					<div class="contact-header">
						<h3>Phản hồi khách hàng</h3>
					</div>
					<div class="contact-body">
						<div class="contact-body-child">
							<h4>Tiêu đề</h4>
							<p th:text="${contact.subject}">Bravo!!!</p>
						</div>
					</div>
					<div class="contact-footer" id="contact-footer"
						th:href="@{/viewcontact/(id=${contact.id})}">
						<a class="edit_contact">Xem</a>
					</div>
				</div>

			</div>
		</section>
		<section class="footer">
			<div class="footer-content">
				<div class="info">
					<h3>3AE</h3>
					<p>
						19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7<br>Thành phố Hồ Chí
						Minh <br> <br> <strong>Số điện thoại: </strong>0337375409
						<br> <strong>Email: </strong>email@gmail.com
					</p>
					<div class="social-link">
						<a href="#" class="twitter"> <i class="fa-brands fa-twitter"></i>
						</a> <a href="#" class="facebook"> <i
							class="fa-brands fa-facebook-f"></i>
						</a> <a href="#" class="instagram"> <i
							class="fa-brands fa-instagram"></i>
						</a> <a href="#" class="youtube"> <i class="fa-brands fa-youtube"></i>
						</a>
					</div>
				</div>
				<div class="link-shortcuts">
					<h4>Xem thêm</h4>
					<ul>
						<li><a href="#content-home">Trang chủ</a></li>
						<li><a href="#">Thực đơn</a></li>
						<li><a href="#booktable">Đặt bàn</a></li>
						<li><a href="#contact">Liên hệ</a></li>
						<li><a href="changepass">Đổi mật khẩu</a></li>
					</ul>
				</div>
				<div class="logo-restaurant">
					<img alt="logo" src="img/3aelogo.png">
				</div>
			</div>
			<div class="footer-info">
				<ul>
					<li>51900147 - Mai Văn Ngọc</li>
					<li>51900145 - Phạm Hùng Nghĩa</li>
					<li>51900200 - Nguyễn Thanh Sơn</li>
				</ul>
			</div>
		</section>

		<div class="popup-contact-container hide">
			<form th:action="@{/deleteContact}" class="popup" method="post"
				id="formcontact">
				<div class="form-item">
					<div class="popup-exit-contact">
						<a><i class="fa-solid fa-xmark exit-icon"></i></a>
					</div>
					<h3>Phản hồi khách hàng</h3>
				</div>
				<div class="contact-content">
					<div class="contact-content-item">
						<h4>Họ tên:</h4>
						<p id="username" name="username">Mai Văn Ngọc</p>
					</div>
					<div class="contact-content-item">
						<h4>Email:</h4>
						<p id="email" name="email">maingoc28820114@gmail.com</p>
					</div>
					<div class="contact-content-item">
						<h4>Chủ đề:</h4>
						<p id="subject" name="subject">Bravo!!!</p>
					</div>
					<div class="contact-content-item">
						<h4 class="note">Nội dung:</h4>
						<p id="content" name="content" class="note-content">Giao nhanh
							+ ngon = 10 đỉm lunn!!</p>
					</div>
					<input name="contactid" id="contactid" hidden>

				</div>
				<div class="form-item">
					<button type="submit" id="cancel-contact-btn">Xóa</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>