<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8" />
<title>Đơn đặt món</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="container-home container-order">
		<section class="navbar">
			<div class="more-icon">
				<i class="fa-solid fa-bars"></i>
				<ul class="nav justify-content-center">
					<li class="nav-item"><a class="nav-link active" href="#">Admin</a>
						<ul class="nav-child">
							<li class="nav-child-item"><a class="nav-link active"
								href="#">Đơn đặt món</a></li>
							<li class="nav-child-item"><a class="nav-link active"
								href="book_table">Đơn đặt bàn</a></li>
							<li class="nav-child-item"><a class="nav-link active"
								href="contact">Phản hồi khách hàng</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link active"
						href="home">Trang chủ</a></li>
					<li class="nav-item"><a class="nav-link" href="menu">Thực
							đơn</a></li>
					<li class="nav-item"><a class="nav-link" href="home#booktable">Đặt
							bàn</a></li>
					<li class="nav-item"><img alt="Logo" src="img/3aelogo.png"></li>
					<li class="nav-item"><a class="nav-link" href="home#contact">Liên
							hệ</a></li>
					<li class="nav-item"><a class="nav-link disabled"
						href="changepass">Đổi mật khẩu</a></li>
					<form th:action="@{/logout}" method="post">
						<li class="nav-item"><button class="nav-link disabled"
								type="submit">Đăng xuất</button></li>
					</form>
				</ul>
			</div>
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link active" href="#">Admin</a>
					<ul class="nav-child">
						<li class="nav-child-item"><a class="nav-link active"
							href="#">Đơn đặt món</a></li>
						<li class="nav-child-item"><a class="nav-link active"
							href="book_table">Đơn đặt bàn</a></li>
						<li class="nav-child-item"><a class="nav-link active"
							href="contact">Phản hồi khách hàng</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link active" href="home">Trang
						chủ</a></li>
				<li class="nav-item"><a class="nav-link" href="menu">Thực
						đơn</a></li>
				<li class="nav-item"><a class="nav-link" href="home#booktable">Đặt
						bàn</a></li>
				<li class="nav-item"><img alt="Logo" src="img/3aelogo.png"></li>
				<li class="nav-item"><a class="nav-link" href="home#contact">Liên
						hệ</a></li>
				<li class="nav-item"><a class="nav-link disabled"
					href="changepass">Đổi mật khẩu</a></li>
				<form th:action="@{/logout}" method="post">
					<li class="nav-item"><button class="nav-link disabled"
							type="submit">Đăng xuất</button></li>
				</form>
			</ul>
			<div class="cart-container">
				<div class="cart-icon">
					<div class="num-cart-item-top">
						<h4>3</h4>
					</div>
					<i class="fa-solid fa-cart-shopping"></i>
					<form action="/cart" class="cart-form">
						<div class="cart-form-header">
							<h4>
								Giỏ hàng (<span class="num-cart-item">2</span>)
							</h4>
						</div>
						<div class="cart-form-body" id="cart-form-body"
							th:each="cart: ${carts}">
							<div class="cart-item">
								<div class="cart-image">
									<img th:src="@{'src/main/upload/food/' + ${cart.img_food}}">
								</div>
								<div class="cart-food-item">
									<h4 th:text="${cart.title}"></h4>
									<p class="food-price" th:text="${cart.price}"></p>
								</div>
								<div class="cart-delete-food">
									<i class="fa-solid fa-xmark"></i>
								</div>
							</div>
						</div>
						<div class="cart-form-footer">
							<button type="submit">Thanh toán</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section id="content-home" class="content-home">
			<div class="food-order-title">
				<h1>DANH SÁCH ĐƠN MÓN</h1>
			</div>
			<div class="food-order-container">
				<div class="food-order">
					<div class="food-order-header">
						<h3>Đơn đặt món</h3>
					</div>
					<div class="food-order-body">
						<div class="food-order-body-child">
							<h4>Số lượng món</h4>
							<p>2</p>
						</div>
						<div class="food-order-body-child">
							<h4>Tổng thanh toán</h4>
							<p class="food-order-price">130000</p>
						</div>
					</div>
					<div class="food-order-footer">
						<a class="edit_order">Xem</a>
					</div>
				</div>
				<div class="food-order">
					<div class="food-order-header">
						<h3>Đơn đặt món</h3>
					</div>
					<div class="food-order-body">
						<div class="food-order-body-child">
							<h4>Số lượng món</h4>
							<p>2</p>
						</div>
						<div class="food-order-body-child">
							<h4>Tổng thanh toán</h4>
							<p class="food-order-price">130000</p>
						</div>
					</div>
					<div class="food-order-footer">
						<a class="edit_order">Xem</a>
					</div>
				</div>
				<div class="food-order">
					<div class="food-order-header">
						<h3>Đơn đặt món</h3>
					</div>
					<div class="food-order-body">
						<div class="food-order-body-child">
							<h4>Số lượng món</h4>
							<p>2</p>
						</div>
						<div class="food-order-body-child">
							<h4>Tổng thanh toán</h4>
							<p class="food-order-price">130000</p>
						</div>
					</div>
					<div class="food-order-footer">
						<a class="edit_order">Xem</a>
					</div>
				</div>
				<div class="food-order">
					<div class="food-order-header">
						<h3>Đơn đặt món</h3>
					</div>
					<div class="food-order-body">
						<div class="food-order-body-child">
							<h4>Số lượng món</h4>
							<p>2</p>
						</div>
						<div class="food-order-body-child">
							<h4>Tổng thanh toán</h4>
							<p class="food-order-price">130000</p>
						</div>
					</div>
					<div class="food-order-footer">
						<a class="edit_order">Xem</a>
					</div>
				</div>
				<div class="food-order">
					<div class="food-order-header">
						<h3>Đơn đặt món</h3>
					</div>
					<div class="food-order-body">
						<div class="food-order-body-child">
							<h4>Số lượng món</h4>
							<p>2</p>
						</div>
						<div class="food-order-body-child">
							<h4>Tổng thanh toán</h4>
							<p class="food-order-price">130000</p>
						</div>
					</div>
					<div class="food-order-footer">
						<a class="edit_order">Xem</a>
					</div>
				</div>
			</div>
		</section>
		<section class="footer">
			<div class="footer-content">
				<div class="info">
					<h3>3AE</h3>
					<p>
						19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7<br>Thành phố Hồ Chí
						Minh <br> <br> <strong>Số điện thoại: </strong>0337375409
						<br> <strong>Email: </strong>email@gmail.com
					</p>
					<div class="social-link">
						<a href="#" class="twitter"> <i class="fa-brands fa-twitter"></i>
						</a> <a href="#" class="facebook"> <i
							class="fa-brands fa-facebook-f"></i>
						</a> <a href="#" class="instagram"> <i
							class="fa-brands fa-instagram"></i>
						</a> <a href="#" class="youtube"> <i class="fa-brands fa-youtube"></i>
						</a>
					</div>
				</div>
				<div class="link-shortcuts">
					<h4>Xem thêm</h4>
					<ul>
						<li><a href="#content-home">Trang chủ</a></li>
						<li><a href="#">Thực đơn</a></li>
						<li><a href="#booktable">Đặt bàn</a></li>
						<li><a href="#contact">Liên hệ</a></li>
						<li><a href="changepass">Đổi mật khẩu</a></li>
					</ul>
				</div>
				<div class="logo-restaurant">
					<img alt="logo" src="img/3aelogo.png">
				</div>
			</div>
			<div class="footer-info">
				<ul>
					<li>51900147 - Mai Văn Ngọc</li>
					<li>51900145 - Phạm Hùng Nghĩa</li>
					<li>51900200 - Nguyễn Thanh Sơn</li>
				</ul>
			</div>
		</section>

		<div class="popup-orderfood-container hide">
			<form action="#" class="popup">
				<div class="form-item">
					<div class="popup-exit-order">
						<a><i class="fa-solid fa-xmark"></i></a>
					</div>
					<h3>Đơn đặt món</h3>
				</div>
				<div class="order-content">
					<table>
						<tr>
							<th>Món</th>
							<th>Số lượng</th>
						</tr>
						<tr>
							<td>Thịt dê nướng</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Xúc xích nướng</td>
							<td>2</td>
						</tr>
					</table>

					<div class="order-info">
						<h4>Số điện thoại:</h4>
						<p>0337375401</p>
						<h4>Địa chỉ:</h4>
						<p>Q7, TP Hồ Chí Minh</p>
						<h3>Tổng thanh toán:</h3>
						<h3 id="sum_price_order">180000</h3>
					</div>

				</div>
				<div class="form-item">
					<button type="submit" id="accept-order-btn">Xác nhận</button>
					<button type="button" id="cancel-order-btn">Hủy đơn</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>