<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8" />
<title>Đổi mật khẩu</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<section class="navbar">
			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link active" href="home">Trang chủ</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Thực đơn</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/home#booktable">Đặt bàn</a>
			  </li>
			  <li class="nav-item">
			    <img alt="Logo" src="img/3aelogo.png">
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/home#contact">Liên hệ</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link disabled" href="#">Đổi mật khẩu</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link disabled" href="/">Đăng xuất</a>
			  </li>
			</ul>
		</section>
		<section class="content">
			<form action=""  id="content-info">
				<h3>Đổi mật khẩu</h3>
				<div class="form-group">
					<input id="pass" placeholder="Nhập mật khẩu cũ" required>
				</div>
				<div class="form-group">
					<input id="newpass" type="password" placeholder="Nhập mật khẩu mới" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn-submit">Xác nhận</button>
				</div>
			</form>
		</section>
	</div>
</body>
</html>